<!--Login-->
<div class="pb-5 pt-4">
    <div class="container">
        <div class="row text-center">
            <!--title-->
            <div class="col-md-12 text-center mt-5">
                <h4>¡Hola! Para continuar, ingrese su correo electrónico y contraseña</h4>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 col-md-12 d-flex justify-content-center">
                <!--login form-->
                <form name="form" class="col-md-4 mb-5">
                    <!--email-->
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Correo electronico" name="emailLogin" 
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"   [(ngModel)]="userform.email" />
                    </div>
                    <!--password-->
                    <div class="form-group d-flex">
                        <input type="password" class="form-control float-right" placeholder="Contraseña" name="password" [(ngModel)]="userform.password">
                    </div>
                    <!--loading-->
                    <app-loading *ngIf="loading"></app-loading>
                    <!--login button-->
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" (click)="login()">Ingresar</button>
                    </div>
                    <!--message incorrect-->
                    <div class="text-danger font-weight-bold " *ngIf="!found">
                        ¡Ups! su correo electrónico o contraseña son incorrectos.
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>