<div class="color-blue">
    <div class="container pt-5">
        <div class="row text-center  pt-5">
            <div class="col-12 col-md-6  font-weight-bold text-light">
                <h1>Toma el control de tus gastos y cumple con tus metas de ahorro.</h1>
            </div>
        </div>
        <!--button sign up-->
        <div class="row text-center  pt-5">
            <div class="col-12 col-md-6  font-weight-bold text-light">
                <a class="btn btn-primary" (click)="signup()">Registrarme</a>
            </div>
        </div>
        
    </div>
</div>
