.color-blue{
    height:75vh;
   background-image: url(../../../assets/img/banner.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color: white;
}

