<!--loading-->
<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading">
  <div class="color-blue pb-5 pt-4">
      <div class="container">
          <div class="row text-center">
              <!--title-->
              <div class="col-12 font-user">Dinero disponible</div>
               <!--total in account-->
              <div class="col-12 font-amount">{{total | currency:'USD'}}</div>
          </div>
          <div class="row mt-2">
            <!--operations-->
              <div class="col-12 d-flex justify-content-center">
                  <!--Deposit -->
                  <button class="btn  btn-primary-outline" data-toggle="modal" data-target="#DepositAndWithdraw" (click)="isDeposit = true">Depositar</button>
                   <!--Withdraw -->
                  <button class="btn btn-primary-outline ml-4" data-toggle="modal" data-target="#DepositAndWithdraw" (click)="isDeposit = false">Retirar</button>
              </div>
          </div>
      </div>
  </div>
  <!--your activity-->
  <div class="container mt-3">
      <label class="sub-title">Tu actividad</label>
      <hr class="mt-0 mb-0">
      <!--filter form-->
      <div class="form-row">
          <div class="col-md-3">
            <!--filter by category-->
              <select id="category" class="form-control" name="category" (change)="filter()" [(ngModel)]="filterCategory" value='all'>
                <option value="all" disabled>Todas las categorias</option>
                <option [value]="c._id" *ngFor="let c of categories">{{c.name | titlecase}}</option>
              </select>
          </div>
          <!--filter by type-->
          <div class="col-md-3">
              <select id="type" name="type" class="form-control" (change)="filter()" [(ngModel)]="filterType">
                <option  value="all" disabled>Todos los tipos</option>
                <option [value]="t" *ngFor="let t of type">{{t | titlecase}}</option>
              </select>
          </div>
          <!--button delete filter-->
          <div class="col-md-3">
          <button class="btn btn-link" (click)="deleteFilter()">Borrar filtros</button>
          </div>
      </div>
      <!-- end filter form-->
      
      <!--Activity -->
      <!--message empty table-->
      <div *ngIf="!filterList.length" class="alert alert-primary mt-2" role="alert">
        <h5> ¡Ups! no tienes registros.</h5>
      </div>
      <!--table Activity-->
      <table class="table table-striped">
          <tbody>
            <tr *ngFor="let item of filterList.reverse().slice(0,5)">
              <th scope="row" *ngIf="item.type == type[0]"><i class="material-icons">call_received</i></th>
              <th scope="row" *ngIf="item.type ==  type[1]"><i class="material-icons">call_made</i></th>
              <td>
                <!-- concept and category name-->
                  <div class="font-title-table">{{item.concept | titlecase}}</div> 
                  <div>{{item.category.name | titlecase}}</div>
              </td>
              <td>
                <!--amount and date-->
                <div class="font-title-table" *ngIf="item.type == type[0]">+ {{item.amount | currency:'USD'}}</div>
                <div class="font-title-table" *ngIf="item.type == type[1]">- {{item.amount | currency:'USD'}}</div>
                <div>{{item.date | date: 'dd/MM/yyyy'}}</div>
              </td>
              <td>
                <!--button edit register-->
                <button class="btn btn-secondary btn-sm" (click)="selectOperatio(item)" data-toggle="modal" data-target="#DepositAndWithdrawEdit">
                  <i class="material-icons">edit</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!--table Activity -->
  </div>
 
  <!--Modal Deposit and Withdraw-->
  <div class="modal fade" id="DepositAndWithdraw" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!--title-->
          <h5 class="modal-title" id="exampleModalLabel"  *ngIf="!isDeposit" >Retirar</h5>
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="isDeposit">Depositar</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--Form Deposit and Withdraw-->
          <form  #generalForm="ngForm">
            <!--amount-->
            <div class="form-group">
              <input type="text" currencyMask min="1.00" [(ngModel)]="operatio.amount" class="form-control"  id="amount" name="amount"  placeholder="$ 0.00" required>
            </div>
            <!--concept-->
            <div class="form-group">
              <input type="text" [(ngModel)]="operatio.concept" class="form-control"  id="concept" name="concept" placeholder="Concepto" required>
            </div>
            <!--category-->
            <div class="form-group">
              <select class="form-control" name="category" id="category" [(ngModel)]="category" required>
                <option value="all" disabled selected>Seleccione una categoría</option>
                <option *ngFor="let c of categories" [ngValue]="c._id" >{{c.name}}</option>
              </select>
            </div>
          </form>
          <!--end Form Deposit and Withdraw-->
        </div>
        <!--button action-->
        <div class="modal-footer">
          <!--close-->
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reset()">Close</button>
          <!--Deposit-->
          <button type="button" class="btn btn-primary"  [disabled]="generalForm.invalid"  *ngIf="isDeposit" (click)="depositOrwithdraw(0)">Depositar</button>
           <!--Withdraw-->
          <button type="button" class="btn btn-primary"   [disabled]="generalForm.invalid" *ngIf="!isDeposit" (click)="depositOrwithdraw(1)">Retirar</button>
        </div>
      </div>
    </div>
  </div>


  <!--Modal Edit Register-->
  <div class="modal fade" id="DepositAndWithdrawEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!--title-->
          <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--Form edit register-->
          <form>
            <!--amount-->
            <div class="form-group">
              <input type="text" currencyMask min="1.00" [(ngModel)]="operatio.amount" class="form-control"  id="amount" name="amount" placeholder="$ 0.00">
            </div>
             <!--concept-->
            <div class="form-group">
              <input type="text" [(ngModel)]="operatio.concept" class="form-control"  id="concept" name="concept" placeholder="Concepto">
            </div>
             <!--category-->
            <div class="form-group">
              <select   [(ngModel)]="idSelected" class="form-control" name="category"  id="category" >
                <option *ngFor="let category of categories" [ngValue]="category._id">{{category.name}}</option>
              </select>
            </div>
          </form>
        </div>
         <!--button action-->
        <div class="modal-footer">
           <!--close-->
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reset()">Cancelar</button>
           <!--delete-->
          <button type="button" class="btn btn-outline-danger" (click)="deleteOperation(operatio)">Eliminar</button>
           <!--update-->
          <button type="button" class="btn btn-primary" (click)="updateOperatio(operatio)">Actualizar</button>
        </div>
      </div>
    </div>
  </div>
</div>