<!--Footer-->
<footer class="bg-white text-dark py-4 ">
    <a name="contacto"></a>
    <div class="container ">
        <nav class="row justify-content-center ">
            <!--logo-->
            <a href="# " class="col-12 col-md-3 text-reset text-uppercase d-flex align-items-center justify-content-center mb-3 mb-md-0">
                <img src="../../../assets/img/logo-finanzapp.jpg" width="200px" height="600px" alt="Logo weston " class="img-fluid">
            </a>
            <!--legal-->
            <ul class="col-5 col-md-3 list-unstyled ">
                <li class="font-weight-bold text-uppercase ">Confía en tu dinero</li>
                <li><a href="# " class="text-reset ">Términos y Condiciones</a></li>
                <li><a href="# " class="text-reset ">Política de privacidad</a></li>
                <li><a href="# " class="text-reset ">Promociones vigentes</a></li>
            </ul>
            <!-- Contact-->
            <ul class="col-5 col-md-3 list-unstyled ">
                <li class="font-weight-bold text-uppercase ">Contacto</li>
                <li><a href="# " class="text-reset"><i class="fas fa-phone-alt"></i> +54 (388) 4364588</a></li>
                <li><a href="# " class="text-reset"><i class="fas fa-map-marker-alt"></i>Jujuy - Argentina</a></li>
                <li><a href="# " class="text-reset"><i class="fas fa-envelope"></i> joelxcabana@gmail.com</a></li>
            </ul>
            <!--Social Network-->
            <ul class="col-10 col-md-3 list-unstyled">
                <li class="font-weight-bold text-uppercase ">Redes sociales</li>
                <li class="d-flex justify-content-between ">
                    <a href="https://www.linkedin.com/in/joelxcabana/" target="_blank" class="text-reset " >
                        <i class="fab fa-3x fa-linkedin" ></i>
                    </a>
                    <a href="https://wa.link/9o6amh" class="text-reset" target="_blank">
                        <i class="fab fa-3x fa-whatsapp-square"></i>
                    </a>
                    <a href="https://www.facebook.com/joelCabana98/" class="text-reset" target="_blank">
                        <i class="fab  fa-3x fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                   <strong>Desarrollado por Joel Cabana</strong>
                </li>
            </ul>
           
        </nav>
    </div>
</footer>
